body {
	margin-left: 100px;
}

#logo {
	margin: 20px 20px 20px 40px;
	text-align: center;
}

#menu-bar {
	padding-top: 100px;
	padding-bottom: 100px;
	padding-right: 40px;
	margin-left: 20px;
	margin-right: 20px;
	border-right: 1px solid lightgray;
}

#menu-bar li {
	margin-bottom: 30px;
	list-style-type: none;
	letter-spacing: 2px;
	text-align: center;
}

#menu-bar a {
	color: black;
	text-decoration: none;
}

#menu-bar a:hover {
	font-weight: bold;
}

#function {
	background: white;
	padding: 40px;
}